<a href="https://colab.research.google.com/github/ElMoumni19/ML-project/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Medical Diagnosis with Support Vector Machines

Task 1: Import Libraries

In [2]:
import numpy as np
import pandas as pd
from sklearn import svm
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report

Get Data

In [3]:
column_names = ["age","sex","cp","trestbps","chol","fbs","restecg","thalach","exang","oldpeak","slope","ca","thal","target"]
df = pd.read_csv("https://raw.githubusercontent.com/ElMoumni19/ML-project/main/heart.csv", names=column_names)
print(df.shape)
df.head()

(304, 14)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0  age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
1   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
2   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
3   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
4   56    1   1       120   236    0  ...      0      0.8      2   0     2       1

[5 rows x 14 columns]

 Extract Features

In [4]:
X = df.iloc[:,:8] #all rows all columns upto 8
X.head()

   age  sex  cp  trestbps  chol  fbs  restecg  thalach
0  age  sex  cp  trestbps  chol  fbs  restecg  thalach
1   63    1   3       145   233    1        0      150
2   37    1   2       130   250    0        1      187
3   41    0   1       130   204    0        0      172
4   56    1   1       120   236    0        1      178

Extract Class Labels

In [5]:
y = df['target']
y.head()

0    target
1         1
2         1
3         1
4         1
Name: target, dtype: object

Split Dataset

In [6]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=0)
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)
print(y_test.shape)
X_test.head()

(228, 8)
(228,)
(76, 8)
(76,)

    age sex cp trestbps chol fbs restecg thalach
66   35   0  0      138  183   0       1     182
156  58   0  0      130  197   0       1     131
247  56   0  0      134  409   0       0     150
267  55   0  0      180  327   0       2     117
145  76   0  2      140  197   0       2     116

Normalize Features

In [19]:
from sklearn import preprocessing
def convert(data):
    number = preprocessing.LabelEncoder()
    data['age'] = number.fit_transform(data.age)
    data['sex'] = number.fit_transform(data.sex)
    data['cp'] = number.fit_transform(data.cp)
    data['chol'] = number.fit_transform(data.chol	)
    data['fbs'] = number.fit_transform(data.fbs)
    data['thalach'] = number.fit_transform(data.thalach)
    data['trestbps'] = number.fit_transform(data.trestbps)
    data['restecg'] = number.fit_transform(data.restecg	)
    data=data.fillna(-999)
    return data
X_train=convert(X_train)
X_test=convert(X_test)

In [20]:
scaler = StandardScaler() #normalize means we neewd to give a range in which it is expecting
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_train[:5,:]

array([[-0.40238768,  0.63187867, -0.96440447,  0.53276078,  1.32050831,
        -0.45491015,  0.82918609,  1.05981545,  1.32050831,  0.82918609],
       [ 0.41571517,  0.63187867,  0.97290143, -1.20804354, -0.26761224,
        -0.45491015, -1.02428869,  0.64551983, -0.26761224, -1.02428869],
       [ 0.53258701,  0.63187867,  0.97290143,  1.11302888, -0.77581082,
         2.07483411,  0.82918609,  0.2312242 , -0.77581082,  0.82918609],
       [-1.45423421,  0.63187867,  0.97290143, -0.04750733, -1.41105904,
        -0.45491015,  0.82918609, -0.13128447, -1.41105904,  0.82918609],
       [-0.28551585,  0.63187867, -0.96440447, -1.20804354, -0.26761224,
        -0.45491015,  0.82918609,  0.38658506, -0.26761224,  0.82918609]])

Training a Support Vector Machine

In [21]:
clf = svm.SVC(kernel='sigmoid') #scikit learn support vector classifier
clf.fit(X_train, y_train)

SVC(kernel='sigmoid')

SVC(kernel='sigmoid')

Decision Boundary

In [22]:
y_pred = clf.predict(X_train)
print(y_pred)
print(accuracy_score(y_train, y_pred))

['0' '1' '1' '1' '0' '1' '0' '0' '1' '1' '0' '1' '0' '0' '1' '0' '1' '1'
 '0' '0' '1' '0' '0' '0' '0' '1' '1' '1' '1' '1' '0' '1' '1' '1' '0' '1'
 '1' '0' '0' '0' '0' '1' '1' '1' '1' '1' '1' '0' '1' '1' '0' '1' '1' '1'
 '1' '1' '1' '0' '0' '1' '0' '1' '1' '1' '0' '0' '1' '0' '1' '0' '1' '0'
 '0' '1' '0' '1' '1' '1' '1' '0' '0' '0' '0' '0' '0' '1' '1' '1' '0' '1'
 '0' '1' '1' '0' '0' '1' '1' '1' '0' '0' '1' '1' '1' '0' '0' '0' '0' '0'
 '1' '0' '0' '0' '1' '0' '1' '0' '1' '1' '1' '0' '0' '1' '0' '1' '1' '1'
 '1' '1' '1' '0' '1' '1' '1' '0' '1' '1' '1' '1' '0' '1' '0' '1' '0' '1'
 '1' '1' '0' '1' '0' '1' '0' '0' '0' '0' '1' '0' '1' '0' '0' '0' '0' '0'
 '0' '1' '1' '1' '0' '0' '1' '1' '1' '0' '0' '1' '1' '1' '0' '1' '0' '1'
 '1' '0' '1' '1' '0' '1' '1' '0' '1' '0' '0' '0' '1' '0' '0' '0' '0' '0'
 '1' '1' '0' '1' '1' '0' '1' '0' '1' '1' '1' '1' '1' '0' '1' '0' '1' '1'
 '1' '0' '0' '0' '1' '0' '1' '0' '0' '1' '1' '1']
0.75

SVM Kernels

In [23]:
for k in ('linear', 'poly','rbf','sigmoid'):
    clf = svm.SVC(kernel=k)
    clf.fit(X_train, y_train)
    y_pred = clf.predict(X_train)
    print(k)
    print(accuracy_score(y_train, y_pred)) #this process of trying different parmeters for our svm is known as Hyperparameter optimisation

linear
0.8114035087719298
poly
0.8201754385964912
rbf
0.8421052631578947
sigmoid
0.75

Instantiating the Best Model

In [24]:
clf = svm.SVC(kernel='rbf')
clf.fit(X_train, y_train)

SVC()

 Making a single prediction

In [27]:
patient = np.array([[1., 50., 75., 40.,0.,45.,1.5,20.,13.,15.]])
patient = scaler.transform(patient)
clf.predict(patient)

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

array(['0'], dtype=object)

 Testing Set Prediction

In [28]:
patient = np.array([X_test.iloc[0]])
patient = scaler.transform(patient) #normalizing these features
print(clf.predict(patient))
print(y_test.iloc[0])

['1']
1

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"

Accuracy on Testing Set

In [29]:
X_test = scaler.transform(X_test)
y_pred = clf.predict(X_test)
print(accuracy_score(y_test, y_pred))

0.7763157894736842

Comparison to All-Zero Prediction

In [30]:
y_zero = np.zeros(y_test.shape)
print(accuracy_score(y_test, y_zero))

TypeError: ignored

Precision and Recall

In [31]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.85      0.63      0.72        35
           1       0.74      0.90      0.81        41

    accuracy                           0.78        76
   macro avg       0.79      0.77      0.77        76
weighted avg       0.79      0.78      0.77        76